





body { margin: 0px; font-family: 'Varela Round', sans-serif; font-size : 10pt; background-color: #d8d6d6; }

a { color: #988ec2; font-weight: bold; text-decoration: none; cursor: pointer; }
a:link { color: #988ec2; font-weight: bold; text-decoration: none; cursor: pointer; }
a:visited { color: #988ec2; font-weight: bold; text-decoration: none; cursor: pointer; }
a:hover { color: #988ec2; font-weight: bold; text-decoration: none; cursor: pointer; }
a:active { color: #988ec2; font-weight: bold; text-decoration: none; cursor: pointer; }